!Rxvt.cursorColor: orange
!Rxvt.fading: 0
!Rxvt.font: xft:Monospace:pixelsize=11
!Rxvt.iso14755: false
!Rxvt.keysym.C-Down: perl:font-size:decrease
!Rxvt.keysym.C-Up: perl:font-size:increase
!Rxvt.perl-ext-common: font-size,matcher
!Rxvt.scrollBar: false

! left click to open URLs
Rxvt.url-launcher: /bin/firefox
Rxvt.matcher.button: 1

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt*background:              #002b36
URxvt*foreground:              #657b83
URxvt*fading:                  40
URxvt*fadeColor:               #002b36
URxvt*cursorColor:             #93a1a1
URxvt*pointerColorBackground:  #586e75
URxvt*pointerColorForeground:  #93a1a1

!URxvt*color0:                  #073642
!URxvt*color1:                  #dc322f
!URxvt*color2:                  #859900
!URxvt*color3:                  #b58900
!*color3:                  #00ff00
URxvt*color4:                  #aaffff
!URxvt*color4:                  #dc322f
!URxvt*color5:                  #d33682
URxvt*color5:                  #a028cc
URxvt*color6:                  #268bd2
!URxvt*color7:                  #eee8d5
!URxvt*color8:                  #002b36
URxvt*color9:                  #2aa0ff
URxvt*color10:                 #cb4b16
!URxvt*color11:                 #839496
URxvt*color12:                 #2aa0ff
!URxvt*color13:                 #6c71c4
URxvt*color14:                 #88bb00
!URxvt*color15:                 #002b36
